@{
    ViewData["Title"] = "Home Page";
}

<div class="flowchart_page">
    <img class="flowchart_picture" src="~/images/IMG_4591.jpg" />
        <textarea maxlength="24" class="top_1"></textarea>
        <textarea maxlength="50" class="top_2"></textarea>
</div>

