/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.flowchart_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.flowchart_page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    display: inline-block;
}

.top_1 {
    position: absolute;
    top: 225px;
    left: 110px;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 56px;
    height: 60px;
    transform: rotate(40deg);
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-right: 4px;
}

.top_2 {
    position: absolute;
    top: 220px;
    left: 242px;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 100px;
    height: 53px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}
