/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.flowchart_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.flowchart_page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    display: inline-block;
}

.start {
    position: absolute;
    top: 200px;
    font-weight: bold;
    left: 4px;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 80px;
    height: 55px;
    transform: rotate(310deg);
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: 1em;
    resize: none;
    overflow: hidden;
    padding-right: 4px;
}

.top_1 {
    position: absolute;
    top: 225px;
    font-weight: bold;
    left: 109px;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 56px;
    height: 55px;
    transform: rotate(310deg);
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}

.top_2 {
    position: absolute;
    top: 219px;
    font-weight: bold;
    left: 242px;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 100px;
    height: 53px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}

.top_3 {
    position: absolute;
    top: 233px;
    left: 412px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 40px;
    height: 50px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}

.mid_2 {
    position: absolute;
    top: 328px;
    left: 270px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 76px;
    height: 50px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-right: 2px;
    padding-top: 4px;
}

.mid_1 {
    position: absolute;
    top: 332px;
    left: 104px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 85px;
    height: 50px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}

.bottom_1 {
    position: absolute;
    top: 423px;
    left: 108px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 85px;
    height: 50px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}

.bottom_2 {
    position: absolute;
    top: 418px;
    left: 228px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 72px;
    height: 48px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}

.bottom_3 {
    position: absolute;
    top: 408px;
    left: 346px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: #45484c;
    opacity: .7;
    width: 122px;
    height: 66px;
    font-family: 'Dekko', cursive;
    text-align: center;
    font-size: .8em;
    resize: none;
    overflow: hidden;
    padding-left: 4px;
}